* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

:root {
  --folder-yellow-color: #ffe430;
  --folder-light-gray-color: #d9d9d9;
  --folder-dark-gray-color: #ababab;
}

#main {
  width: 100dvw;
  overflow-x: hidden;
  height: auto;
}

nav {
  /* background-color: yellow; */
  width: 100%;
  height: 10dvh;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.219);
  /* backdrop-filter: blurr(50px);
  position: fixed; */
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
  align-self: center;
}

.hero-headings {
  font-size: 6rem;
  display: flex;
  justify-content: space-around;
  font-weight: 100;
  margin-bottom: 1rem;
}

.hero-headings .h4-2 {
  opacity: 0.2;
}

.folder-UI {
  width: 100%;
  min-height: 75dvh;
  display: flex;
  position: relative;
}

.folder-UI .folder-group-1 {
  width: 50%;
  /* height: auto; */
}

.folder-UI .folder-group-2 {
  width: 50%;
}

.folder-UI .folders {
  height: 12.5rem;
  min-width: 48rem;
  position: absolute;
  border-top-left-radius: 0.4rem;
}

.folder {
  height: 12.5rem;
  position: relative;
  /* background-color: var(--folder-yellow-color); */
}

.folder-UI .folders.folder-2,
.folder-UI .folders.folder-5 {
  top: 25%;
}

.folder-UI .folders.folder-3,
.folder-UI .folders.folder-6 {
  top: 50%;
  z-index: 3;
}

.folder-UI .folders.folder-5 {
  right: 0%;
  z-index: 2;
  width: 65%;
}

.folder-UI .folders .folder-top {
  background-color: transparent;
  height: 2.5rem;
  width: 100%;
  position: relative;
  display: flex;
  z-index: 3;
}

.folder-UI .folders .folder-top .folder-no {
  width: 22rem;
  height: 100%;
  background-color: var(--folder-yellow-color);
  clip-path: polygon(0 1%, 90% 0, 100% 100%, 0% 100%);
  padding: 0 1rem;
  align-content: center;
  border-top-right-radius: 9rem;
}

.folder-UI .folders .folder-bottom {
  height: 75%;
  width: 100%;
  background-color: var(--folder-yellow-color);
  z-index: 9;
}

/* .folder-UI .folders.folder-2 {
  background-color: var(--folder-light-gray-color);
} */

.folder-UI .folders.folder-2 .folder-top .folder-no,
.folder-UI .folders.folder-4 .folder-top .folder-no,
.folder-UI .folders.folder-6 .folder-no {
  background-color: var(--folder-light-gray-color);
}

.folder-UI .folders.folder-2 .folder-bottom,
.folder-UI .folders.folder-4 .folder-bottom,
.folder-UI .folders.folder-6 .folder-bottom {
  background-color: var(--folder-light-gray-color);
}

.folder-UI .folders.folder-5 .folder-top .folder-no {
  background-color: var(--folder-dark-gray-color);
}

.folder-UI .folders.folder-5 .folder-bottom {
  background-color: var(--folder-dark-gray-color);
}

.folder-UI .project-images {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-UI .project-images div {
  width: 11rem;
  height: 11rem;
  background-color: blue;
  position: absolute;
  transform: rotate(-10deg);
  left: 20%;
  top: 100%;
  z-index: -1;
}

.folder-UI .project-images div img {
  width: 176px;
  height: 193;
  object-fit: cover;
}

.folder-UI .project-images div:nth-child(1) {
  background-color: pink;
  top: 100%;
  left: 58%;
  transform: rotate(10deg);
}

.folder-UI .project-images div:nth-child(2) {
  background-color: black;
  top: 100%;
  left: 40%;
  transform: rotate(0deg);
}
